<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apprestaurantes">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRestaurantes">
        <activity android:name=".selecPrecio"></activity>
        <activity android:name=".PorPrecio" />
        <activity android:name=".PorCategoria" />
        <activity android:name=".PorFavoritos" />
        <activity android:name=".selecCategoria" />
        <activity android:name=".activity_Restaurante" />
        <activity android:name=".pantallaCarga">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".NuevoRestaurante" />
        <activity android:name=".MisRestaurantes" />
        <activity android:name=".acercaDe" />
    </application>

</manifest>